<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="distobee">
  <material name="white">
    <color rgba="0.8 0.8 0.8 1" />
  </material>

  <!-- https://www.ros.org/reps/rep-0120.html -->
  <link name="base_footprint" />
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://distobee_description/stl/body.stl" />
      </geometry>
      <material name="white" />
    </visual>
  </link>
  <joint name="base_joint" type="fixed">
    <origin xyz="-0.2 0 0.15" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <!-- wheels -->
  <xacro:include filename="$(find distobee_description)/urdf/wheels.urdf.xacro" />
  <xacro:wheels base_footprint="base_footprint" rear_wheel_radius="0.2" front_wheel_radius="0.14" />

  <!-- ros2_control -->
  <xacro:include filename="$(find distobee_description)/urdf/ros2_control.urdf.xacro" />
  <xacro:ros2_control />
</robot>