.feeds-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.feeds {
  display: flex;
  flex-direction: row;
}

.feed {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 96px;
  position: relative;
  color: var(--active);
}

.icon-digit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  margin-top: -11%;
}

.feed-controls-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  max-width: 200px;
}

.input > input {
  text-align: center;
}

.input:not(:global(.editing)) {
  background-color: var(--dark-active) !important;
}

.input:global(.editing) {
  background-color: var(--dark-background) !important;
}

.input {
  opacity: 0;
  animation: blink-on-new-key 0.2s forwards;
}

@keyframes blink-on-new-key {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
