.pipes {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pipe-state {
  width: min(28vmin, 260px);
  height: min(28vmin, 260px);
  display: grid;
  place-items: center;
  background-color: var(--green-foreground);
}

.pipe-state-alert {
  background-color: var(--red-foreground);
  animation: blinker 1s step-end infinite;
}

.icon {
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
