.pipes {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.pipes-stage {
  width: 90%;
  aspect-ratio: 2 / 1;
  max-width: 900px;
  max-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pipes-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--green-background);
}

.pipes-group.left { left: 0; }
.pipes-group.right { right: 0; }

.pipes-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  width: 100%;
  max-width: 260px;
  color: inherit;
}

.pipe-state {
  width: 80%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  background: transparent;
  margin-top: 0.5rem;
}

.pipe-state-input {
  width: 100%;
  max-width: 50px;
}

.pipe-state-alert { color: var(--red-background); animation: blinker 1s linear infinite; }

.pipe-state-icon {
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

@keyframes blinker {
  50% { opacity: 0; }
}
