.sieve {
  width: 100%;
  height: 100%;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sieve-rows {
  display: flex;
  flex-direction: column;
  max-width: min(100%, 300px);
  min-width: 250px;
}

.sieve-row,
.sieve-controls-row {
  display: flex;
  margin-top: -5px;
}

.sieve-controls-row {
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.sieve-header {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.input > input {
  text-align: center;
}

.input:not(:global(.editing)) {
  background-color: var(--dark-active) !important;
}

.input:global(.editing) {
  background-color: var(--dark-background) !important;
}

.sieve-button {
  flex: 1;
}

.green-bg {
  background-color: var(--green-background);
}

.red-bg {
  background-color: var(--red-background);
}
